$colorPrimario: rgb(143, 138, 138);
$colorSecundario: #0B0706;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    font-family: 'Montserrat', sans-serif;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: $colorPrimario;
    
    h1 {
        margin: 1rem 1.5rem;
        font-size: 1.7rem;
    }
    
    nav {
        height: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 0;
        margin-right: 20px;
        
            ul {
                position: relative;
                margin-top: 6px;
                float: right;
                list-style-type: none;
                transition: top 0.5s cubic-bezier(0.3, 0.1, 0.3, 0.85);
            }
            
            li {
                font-family: 'Montserrat', sans-serif;
                color: rgb(237, 228, 228);
                font-size: 1.4rem;
                display: inline;
                padding: 10px;
                margin-right: 30px;
                cursor: pointer;
            }
            
            a {
                list-style: none;
                text-decoration: none;
                color: $colorSecundario;
                
                &:hover {
                    color: rgb(201, 197, 197);
                    text-decoration: none;
                }
            }
    }
}

main {
    font-family: 'Montserrat', sans-serif;
}

.banner {
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1506377247377-2a5b3b417ebb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHdpbmVzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}

.txtBanner{
    text-align: center;
    font-size: 3.5rem;
    color: $colorPrimario;

}

.contenedorProductos{
    display: flex;
    justify-content: center;
}

.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    height: auto;
    margin: auto;
    font-family: 'Montserrat', sans-serif;

    .imgCard{
        padding: 2rem 0;
        height: 250px;
    }
    .nameCard{
        font-size: 1.4rem;
        font-weight: 200;
    }
    .priceCard{
        font-size: 1.4rem;
        font-weight: 400;
    }
    .btnCard{
        font-family: 'Montserrat', sans-serif;
        color: $colorPrimario;
        background-color:$colorSecundario;
        text-decoration: none;
        font-size: 1.4rem;
        padding: 0.5rem;
        border-radius: 10px;
        font-weight: 600;
        margin-bottom: 1rem;
        box-shadow: 3px 5px 6px rgba(0, 0, 0, .5);
    }
}

footer {
    height: 35vh;
    background-color: $colorSecundario;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(143, 138, 138);
    font-family: 'Montserrat', sans-serif;

    .firmaBrand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            height: 2rem;
        }

        .txtBrand {
            text-align: center;
            font-size: 1.5rem;
            margin-top: 0.5rem;
        }
    }
}

